@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin: 0px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav #cart-icon {
  /* margin-left: auto; */
}

nav #admin-link {
  margin-left: auto;
}

nav #logo {
  margin-right: 40px;
}

#cart-icon:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.nav-links {
  margin: 15px;
  color: hsl(219, 9%, 45%);
}

.nav-links:hover {
  color: hsl(220, 13%, 13%);
  border-bottom: 2px solid hsl(26, 100%, 55%);
}


.homepage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 135px);
}



.product-page {
  /* padding: 80px 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 135px);
}

.product-info {
  width: 400px;
  margin-left: 20px;
}

.product-image {
  width: 400px;
  margin-right: 60px;
  border-radius: 20px;
}

.product-page button {
  width: 160px;
  height: 40px;
  border: none;
  background-color: hsl(26, 100%, 55%);
  border-radius: 10px;
  color: #fff;
  font-family: 'Kumbh Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}
.product-page button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
}

footer {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin: 0px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  font-size: 14px;
}

.category-page {
  padding: 0px 40px;
}

.cp-product-block {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  margin: 20px;
  padding: 20px;
  /* border-radius: 10px; */
}

.category-page .link-product {
  color: #000;
}
.category-page .link-product:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.cp-product-image {
  width: 300px;
  margin-right: 60px;
  border-radius: 20px;
}

.category-page p {
  margin: 0px;
}


.admin-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 60px;
  min-height: calc(100vh - 215px);
}

.create-product-form {
  display: flex;
  flex-direction: column;
}

.create-product-form label {
  margin: 20px 0px 10px 0px;
}

.create-product-form input {
  height: 20px;
}

.create-product-form button {
  width: 100px;
  height: 25px;
  margin-top: 10px;
}
.create-product-form button:hover {
  cursor: pointer;
}

.spread {
  margin: 25px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-product-form .spread label {
  margin: 0px;
  margin-right: 10px;
}



.simple-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-content h3:first-of-type {
  margin: 10px 0px 10px 0px;
}
.admin-content h3 {
  margin: 60px 0px 10px 0px;
}

.admin-tables {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  max-width: 800px;
}

.admin-tables tr {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #000;
}

.admin-tables th {
  text-align: left;
  padding-left: 10px;
}

.admin-tables td {
  padding-left: 10px;
}

.admin-tables .remove {
  width: 40px;
  text-align: right;
  padding-right: 10px;
}

.admin-tables a:hover {
  color: blue;
  text-decoration: underline;
}

.admin-buttons {
  width: 140px;
  height: 32px;
  border: none;
  background-color: hsl(26, 100%, 55%);
  border-radius: 10px;
  color: #fff;
  font-family: 'Kumbh Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}
.admin-buttons:hover {
  cursor: pointer;
  opacity: 0.7;
}

.remove-button {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  background: transparent;
  border: none;
}

.remove-button:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

select {
  height: 26px;
}
